<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/workout-build.jpg" class="card-img-top" alt="..." height="auto">
          <div class="card-body">
            <h5 class="card-title">Workout Builder</h5>
            <p class="card-text">Build your customized workout routine with the help of our AI powered tool.</p>
            <a href="#" class="btn btn-primary" routerLink="/workout-builder">Let's Lift</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/calorie-count.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Calorie Tracker</h5>
            <p class="card-text">Track your calorie consumption and expenditure along with other services, all using a simple and user firendly tool.</p>
            <a href="#" class="btn btn-primary">Let's Track</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/lookup.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Accessories Lookup</h5>
            <p class="card-text">Use our advanced and in-depth tool to search what that Barbell costs, or how much meat should you eat. These are just examples, let your imagination run wild.</p>
            <a href="#" class="btn btn-primary">Let's Look</a>
          </div>
        </div>
      </div>
    </div>
</div>

  